version: "3.9"

services:
  rpgcm-api:
    container_name: rpgcm-api
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: "Development"
    restart: on-failure
